In [1]:
import sqlite3

In [4]:
!ls

README.md   app         temple.db   temple_venv test.ipynb  tests

In [5]:
DB_NAME = 'temple.db'
conn = sqlite3.connect(DB_NAME)

# 寫測試資料

In [5]:
import sqlite3

def init_household_test_data(db_path="temple.db"):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # 插入測試資料（符合新版 head_* 欄位結構）
    sample_data = [
        (
            "陳大文", "男", "1990-01-01", "農1月初一", "子時", 34, "馬",
            "02-12345678", "0912345678", "david@example.com",
            "台北市中正區忠孝東路一段100號", "100", "戶長", "善信，長期參與活動", "2020-05-01",
            "此戶為主要功德戶"
        ),
        (
            "林小妹", "女", "1985-06-15", "農5月初五", "午時", 39, "牛",
            "02-22334455", "0922333444", "xiaomei@example.com",
            "新北市板橋區文化路二段88號", "220", "委員", "", "2021-01-10",
            ""
        ),
        (
            "王阿姨", "女", "1970-09-09", "農8月初八", "未時", 54, "狗",
            "", "0933555777", "auntie@example.com",
            "高雄市左營區自由三路68號", "813", "信徒", "", "2018-09-09",
            "高雄分堂發起戶"
        )
    ]

    cursor.executemany("""
        INSERT INTO households (
            head_name, head_gender, head_birthday_ad, head_birthday_lunar,
            head_birth_time, head_age, head_zodiac, head_phone_home,
            head_phone_mobile, head_email, head_address, head_zip_code,
            head_identity, head_note, head_joined_at, household_note
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, sample_data)

    conn.commit()
    conn.close()
    print("✅ 測試資料已成功插入新版 households 資料表。")

In [6]:
init_household_test_data(db_path="./app/database/temple.db")

✅ 測試資料已成功插入新版 households 資料表。

In [8]:
import sqlite3
import uuid

def insert_people_and_members(db_path="./app/database/temple.db"):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # ➤ 插入 people 資料（含戶長本人 + 其他成員）
    people = [
        ("王阿姨", "女", "1970-09-09", "農8月初八", "未時", 54, "狗", "", "0933555777",
         "auntie@example.com", "高雄市左營區自由三路68號", "813", "丁", "", "2018-09-09"),

        ("王小明", "男", "2005-03-15", "農2月初二", "午時", 19, "雞", "", "0911000000",
         "", "高雄市左營區自由三路68號", "813", "口", "", "2022-06-01"),

        ("王媽媽", "女", "1945-11-20", "農10月初五", "子時", 79, "雞", "", "",
         "", "高雄市左營區自由三路68號", "813", "丁", "", "2020-02-01")
    ]

    people_ids = []
    for p in people:
        person_id = str(uuid.uuid4())
        people_ids.append(person_id)
        cursor.execute("""
            INSERT INTO people (
                id, name, gender, birthday_ad, birthday_lunar, birth_time,
                age, zodiac, phone_home, phone_mobile, email,
                address, zip_code, identity, note, joined_at
            )
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """, (person_id, *p))

    # ➤ household_id 假設為 3（對應王阿姨那戶）
    household_id = 3

    household_members = [
        (str(uuid.uuid4()), household_id, people_ids[0], "本人"),
        (str(uuid.uuid4()), household_id, people_ids[1], "兒子"),
        (str(uuid.uuid4()), household_id, people_ids[2], "母親")
    ]

    cursor.executemany("""
        INSERT INTO household_members (id, household_id, person_id, relationship)
        VALUES (?, ?, ?, ?)
    """, household_members)

    conn.commit()
    conn.close()
    print("✅ 已插入王阿姨戶的 people 與 household_members 測試資料")

if __name__ == "__main__":
    insert_people_and_members()

✅ 已插入王阿姨戶的 people 與 household_members 測試資料